
<div id="settings-panel">
    <div id="settings-header">
        <h2>Wave Editor</h2>
        <div id="help" class="top-icon" (click)="openHelp()"></div>
        <div id="settings" class="top-icon" (click)="openSettings()"></div>
    </div>
    <div id="wave-wrapper">
        <div class="wave-container" *ngFor="let wave of waves; let i=index;">
            <h3 *ngIf="!wave.editing" (click)="wave.editing=true; focusInput()" wave.name [ngClass]="{'italics': !wave.name.length}">{{wave.name || "Untitled Wave"}}</h3>
            <input class="notouch" *ngIf="wave.editing" [(ngModel)]="wave.name" type="text" placeholder="Wave Name" (blur)="wave.editing=false" autofocus>
            
            <div class="sliders" *ngIf="!wave.base">
                <p>Wavelength: </p>

                <div class="slider-wrapper">
                    <input type="range" min="25" max="750" [(ngModel)]="wave.wavelength" (ngModelChange)="changeWav(i)"/>
                    <div class="sticky-indicator"></div>
                </div>

                <p>Amplitude: </p>
                <input type="range" min="1" max="150" [(ngModel)]="wave.amplitude"/>
                <p>Frequency: </p>
                <input type="range" min="1" max="150" [(ngModel)]="wave.frequency" (ngModelChange)="changeFreq(i)"/>
            </div>

            <span class="italics" *ngIf="wave.base">This wave is automatically set to the current note, all waves below are based on this wave.</span>

            <!--
                    <p *ngIf="wave.base">This is the base frequency. Frequency is automatically set depening on the note.</p> -->
            <!-- <p *ngIf="!wave.base">Set the frequency relative to the base frequency.</p> -->
        </div>
        <button (click)="newWave()">New Wave</button>
        <div id="chevron" (click)="toggleMenu()"></div>
    </div>
</div>
<div id="canvas-container">
    <div id="noteInfo-container">
        <div id="noteInfo-wrapper">
            <div class="note-info">
                <p>Note Name: </p>
                <h2>{{currentNoteName}}</h2>
            </div>
            <div class="note-info">
                <p>Base Frequency:</p>
                <h2>{{currentNoteFreq || 0}} Hz</h2>
            </div>
            <div class="note-info">
                <p>Octave:</p>
                <h2>{{ octave }}</h2>
            </div>
            <div class="note-info">
                <p>Wavetype:</p>
                <h2>{{(currentNoteFreq > 0) ? 'Sine' : 'None'}}</h2>
            </div>
            <div class="note-info">
                <p># of waves:</p>
                <h2>{{waves.length}}</h2>
            </div>
        </div>
    </div>
    <canvas id="rendering-canvas" #canvWrapper></canvas>
</div>
<button (click)="playMusic()" id="testMusic"></button>
