<!DOCTYPE html>
<html>
    <head>
        <title>Tone Generator | LaCarrubba</title>
        <style>
        </style>
    </head> <!-- "DA Portfolio is here!" - Dorian Cauwe -->
    <body>
        <h1>Tone Generator</h1>
        <button id="playnote">Play Note</button>
        <button id="stopnote">Stop Note</button>
        <p>Frequency 1: <span id="hertz"></span> Hz</p>
        <p>Frequency 2: <span id="hertz2"></span> Hz</p>

        <input type="range" min="0" max="5000" value="50" class="slider" id="myRange"/>
        <input type="range" min="0" max="5000" value="50" class="slider" id="myRange2"/>

        <script src="/lib/jquery-3.3.1.min.js"></script>
        <script src="./ts/main.ts"></script>
    </body>
</html>